<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Document</title>
</head>
<body class="font-serif text-base">

    <nav class="flex justify-center shadow-md">
        <div class="flex justify-between sm:container lg:container py-4">
            <a class="flex items-center" href="#">
                <img src="/public/icons/sunbed.svg" alt="Seeker" class="w-10 mr-2">
                <span class="text-2xl italic">seeker.com</span>
            </a>
            <div class="flex items-center px-4 text-sm uppercase gap-4">
                <span class="text-2xl">Guía de Estilos</span>               
            </div>
        </div>        
    </nav>   

    <div class="flex justify-center py-16">
        <div class="flex flex-col sm:container lg:container px-5" >
            <span class="text-2xl font-extrabold">Guía de Estilos</span>
            <p>Para la elaboración de la página web seeker.com, se tomaron en cuenta varios enfoques de diseño que permitieron la realización de la plantilla, como también el análisis de las páginas <a class="underline text-blue-800" href="https://www.trivago.es/">Trivago</a> y <a class="underline text-blue-800" href="https://www.booking.com/">Booking</a>.</p>
            <p>Aquí se presentarán un índice de la guía de estilos de seeker.com, pautando los puntos de la siguiente forma:</p>
            <h1 class="text-2xl">Índice</h1>  
            <ul class="list-none ">                    
                <li>
                    <a href="#estructura-html">Estructura html de seeker.com</a>
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>  
            <div id="estructura-html" class="container mx-auto mt-4">
                <span class="text-2xl font-extrabold">Estructura html</span>
                <p>Clasificación e identificación de los elementos de la página.</p>
                <img src="/public/guia-estilos/estructura-html.png" width="800px"/>
            </div>     
            <div id="estructura-html" class="container mx-auto mt-4 grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
                <span class="text-2xl font-extrabold">Estructura html</span>
                
            </div>         
        </div>
    </div>

    <div class="flex flex-col bg-gray-500 p-8">
        <div class="text-white flex justify-center mb-4 py-8">           
            <div class="sm:w-1/5 h-auto sm:mt-0 mt-8">
                <div class="text-lg font-bold mb-2">Ayuda</div>
                <ul class="list-reset leading-normal">
                    <li class="hover:text-blue text-grey-darker">
                        <a href="#">Descubre cómo funciona seeker</a>                       
                    </li>
                    <li class="hover:text-blue text-grey-darker">
                        <a href="#">Términos y condiciones</a>
                    </li>
                    <li class="hover:text-blue text-grey-darker">                        
                        <a href="#">Información legal</a>
                    </li>
                    <li class="hover:text-blue text-grey-darker">
                        <a href="#">Aviso de privacidad</a>
                    </li>                    
                </ul>            
            </div>
            <div class="sm:w-1/3 h-auto sm:mt-0 mt-8">
                <div class="text-lg font-bold mb-2">Redes Sociales</div>
                <div class="flex gap-4 leading-normal">
                    <a href="#" class="hover:text-green-dark text-grey-darker">
                        <img src="/public/icons/facebook.svg"class="w-6 opacity-50"/>
                    </a>
                    <a href="#" class="hover:text-green-dark text-grey-darker">
                        <img src="/public/icons/instagram.svg" class="w-6 opacity-50"/>
                    </a>
                    <a href="#" class="hover:text-green-dark text-grey-darker">
                        <img src="/public/icons/gorjeo.svg" class="w-6 opacity-50"/>
                    </a>
                </div>          
            </div>
            <div class="sm:w-1/5 sm:mt-0 mt-8 h-auto">
                <div class="text-red-light mb-2">¿Quieres ofertas exclusivas de hoteles? </div>
                <p class="text-grey-darker leading-normal">¡Suscríbete al boletín de noticias!.</p>
                <div class="mt-4 flex">
                    <input type="text" class="p-2 border border-grey-light round text-grey-dark text-sm h-auto" placeholder="Dirección de E-mail">
                    <button class=" bg-yellow-400  text-white font-bold p-4 uppercase border-yellow-500 rounded-sm h-auto text-xs p-3">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>