<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Document</title>
</head>
<body class="font-serif text-base lg:container">
    <nav class="flex justify-between shadow-md h-auto p-4 w-full">
        <a class="flex items-center" href="#">
            <img src="/public/icons/sunbed.svg" alt="Seeker" class="w-8 mr-2">
            <span class="text-lg italic">seeker.com</span>
        </a>
        <div class="flex items-center px-4 text-sm uppercase gap-4">
            <a href="#">Hoteles</a>
            <a  href="#"> Alojamientos</a>
            <a class="flex mx-2" href="#">
                <img src="/public/icons/user.svg" alt="Alojamiento" class="mx-2 w-5"/>                
                Iniciar Sesión
            </a>
        </div>
    </nav>
</body>
</html>